#page-title
{
    onmouseover="this.style.color='#8B0000'";
    onmouseout="this.style.color='Black'";
}


body
{
    font-family: Arial;
}

h1
{
    font-family: Comic Sans MS;
    border: 3px dotted Green;
    width: fit-content;
    padding: 5px;
    background-color: #90ee90;
    margin-bottom: 0;
}

.quote
{
    margin-left: 30px;
    font-family: Garamond;
}

#stonks-pic
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#financial-news
{
    width: fit-content;
    background-image: linear-gradient( to right, SpringGreen, Gold );
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0px 40px 0px 40px;
}

